## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN'.
application_df.drop(columns = ['EIN'], inplace = True)
application_df

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...
34294,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [4]:
name_count = application_df['NAME'].value_counts()
name_count

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [5]:
# Choose a cutoff value and create a list of name to be replaced
# use the variable name `name_to_replace`
name_to_replace = list(name_count[name_count < 4].index)
name_to_replace

# Replace in dataframe
for name in name_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(name, "Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                 19515
PARENT BOOSTER USA INC                 1260
TOPS CLUB INC                           765
UNITED STATES BOWLING CONGRESS INC      700
WASHINGTON STATE UNIVERSITY             492
                                      ...
OMEGA PSI PHI FRATERNITY                  4
AMERICAN COACH ASSOCIATION                4
PTA NEW MEXICO CONGRESS                   4
INDUSTRIAL WORKERS OF THE WORLD           4
PHI DELTA KAPP INTERNATIONAL INC          4
Name: NAME, Length: 475, dtype: int64

In [6]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = application_df['APPLICATION_TYPE'].value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_counts[application_counts < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app, "Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts_1 = classification_counts.loc[classification_counts > 1]
classification_counts_1

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts < 100].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummies = pd.get_dummies(application_df)
application_dummies

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_4-H CLUBS & AFFILIATED 4-H ORGANIZATIONS,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_ACTS MINISTRY,NAME_ACTS MISSIONS,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [12]:
# Split our preprocessed data into our features and target arrays
X = application_dummies.drop('IS_SUCCESSFUL', axis = 1).values
y = application_dummies['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 7
hidden_nodes_layer2 = 14
hidden_nodes_layer3 = 21

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units = hidden_nodes_layer1, activation = 'relu', input_dim = number_input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units = hidden_nodes_layer2, activation = 'relu'))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units = hidden_nodes_layer3, activation = 'relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units = 1, activation = 'sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 7)                 3675

 dense_1 (Dense)             (None, 14)                112

 dense_2 (Dense)             (None, 21)                315

 dense_3 (Dense)             (None, 1)                 22

=================================================================
Total params: 4,124
Trainable params: 4,124
Non-trainable params: 0
_________________________________________________________________

In [15]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics = ['accuracy'])

In [16]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, validation_split = 0.15, epochs = 100)

Epoch 1/100
684/684 [==============================] - 3s 2ms/step - loss: 0.5414 - accuracy: 0.7314 - val_loss: 0.4597 - val_accuracy: 0.7777
Epoch 2/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4531 - accuracy: 0.7811 - val_loss: 0.4416 - val_accuracy: 0.7914
Epoch 3/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4376 - accuracy: 0.7917 - val_loss: 0.4421 - val_accuracy: 0.7994
Epoch 4/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4316 - accuracy: 0.7966 - val_loss: 0.4386 - val_accuracy: 0.7945
Epoch 5/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4274 - accuracy: 0.7986 - val_loss: 0.4371 - val_accuracy: 0.7987
Epoch 6/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4260 - accuracy: 0.7968 - val_loss: 0.4405 - val_accuracy: 0.7992
Epoch 7/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4237 - accuracy: 0.7987 - val_loss: 0.4387 - val_accuracy: 0.8002
Epoch 8/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4223 - accuracy: 0.7989 - val_loss: 0.4395 - val_accuracy: 0.7987
Epoch 9/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4208 - accuracy: 0.7995 - val_loss: 0.4407 - val_accuracy: 0.8002
Epoch 10/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4197 - accuracy: 0.8012 - val_loss: 0.4400 - val_accuracy: 0.7999
Epoch 11/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4186 - accuracy: 0.8024 - val_loss: 0.4396 - val_accuracy: 0.7992
Epoch 12/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4187 - accuracy: 0.8016 - val_loss: 0.4395 - val_accuracy: 0.7989
Epoch 13/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4178 - accuracy: 0.8010 - val_loss: 0.4439 - val_accuracy: 0.7984
Epoch 14/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4167 - accuracy: 0.8021 - val_loss: 0.4454 - val_accuracy: 0.7976
Epoch 15/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4158 - accuracy: 0.8021 - val_loss: 0.4417 - val_accuracy: 0.7945
Epoch 16/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4161 - accuracy: 0.8018 - val_loss: 0.4435 - val_accuracy: 0.7955
Epoch 17/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4151 - accuracy: 0.8027 - val_loss: 0.4457 - val_accuracy: 0.7997
Epoch 18/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4151 - accuracy: 0.8013 - val_loss: 0.4439 - val_accuracy: 0.7987
Epoch 19/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4144 - accuracy: 0.8021 - val_loss: 0.4469 - val_accuracy: 0.7976
Epoch 20/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4142 - accuracy: 0.8038 - val_loss: 0.4460 - val_accuracy: 0.8002
Epoch 21/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4135 - accuracy: 0.8023 - val_loss: 0.4445 - val_accuracy: 0.7997
Epoch 22/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4132 - accuracy: 0.8034 - val_loss: 0.4461 - val_accuracy: 0.7974
Epoch 23/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4131 - accuracy: 0.8035 - val_loss: 0.4465 - val_accuracy: 0.7984
Epoch 24/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4133 - accuracy: 0.8040 - val_loss: 0.4455 - val_accuracy: 0.8005
Epoch 25/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4126 - accuracy: 0.8030 - val_loss: 0.4467 - val_accuracy: 0.7945
Epoch 26/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4120 - accuracy: 0.8032 - val_loss: 0.4476 - val_accuracy: 0.7955
Epoch 27/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4117 - accuracy: 0.8045 - val_loss: 0.4465 - val_accuracy: 0.7966
Epoch 28/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4110 - accuracy: 0.8041 - val_loss: 0.4449 - val_accuracy: 0.7961
Epoch 29/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4107 - accuracy: 0.8043 - val_loss: 0.4484 - val_accuracy: 0.8033
Epoch 30/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4102 - accuracy: 0.8034 - val_loss: 0.4486 - val_accuracy: 0.8015
Epoch 31/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4101 - accuracy: 0.8049 - val_loss: 0.4484 - val_accuracy: 0.7999
Epoch 32/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4104 - accuracy: 0.8043 - val_loss: 0.4461 - val_accuracy: 0.8033
Epoch 33/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4105 - accuracy: 0.8050 - val_loss: 0.4441 - val_accuracy: 0.8051
Epoch 34/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4101 - accuracy: 0.8045 - val_loss: 0.4458 - val_accuracy: 0.7997
Epoch 35/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4095 - accuracy: 0.8043 - val_loss: 0.4481 - val_accuracy: 0.8015
Epoch 36/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4093 - accuracy: 0.8038 - val_loss: 0.4482 - val_accuracy: 0.7989
Epoch 37/100
684/684 [==============================] - 3s 5ms/step - loss: 0.4097 - accuracy: 0.8039 - val_loss: 0.4464 - val_accuracy: 0.8012
Epoch 38/100
684/684 [==============================] - 4s 6ms/step - loss: 0.4092 - accuracy: 0.8040 - val_loss: 0.4481 - val_accuracy: 0.8002
Epoch 39/100
684/684 [==============================] - 4s 5ms/step - loss: 0.4091 - accuracy: 0.8045 - val_loss: 0.4473 - val_accuracy: 0.7974
Epoch 40/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4086 - accuracy: 0.8050 - val_loss: 0.4465 - val_accuracy: 0.8025
Epoch 41/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4080 - accuracy: 0.8054 - val_loss: 0.4481 - val_accuracy: 0.8036
Epoch 42/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4082 - accuracy: 0.8065 - val_loss: 0.4471 - val_accuracy: 0.7984
Epoch 43/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4087 - accuracy: 0.8048 - val_loss: 0.4472 - val_accuracy: 0.8023
Epoch 44/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4080 - accuracy: 0.8051 - val_loss: 0.4458 - val_accuracy: 0.8002
Epoch 45/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4081 - accuracy: 0.8047 - val_loss: 0.4483 - val_accuracy: 0.8010
Epoch 46/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4078 - accuracy: 0.8038 - val_loss: 0.4471 - val_accuracy: 0.8002
Epoch 47/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4074 - accuracy: 0.8052 - val_loss: 0.4491 - val_accuracy: 0.8010
Epoch 48/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4078 - accuracy: 0.8045 - val_loss: 0.4506 - val_accuracy: 0.7987
Epoch 49/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4072 - accuracy: 0.8053 - val_loss: 0.4486 - val_accuracy: 0.7984
Epoch 50/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4070 - accuracy: 0.8049 - val_loss: 0.4481 - val_accuracy: 0.7981
Epoch 51/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4070 - accuracy: 0.8058 - val_loss: 0.4490 - val_accuracy: 0.7989
Epoch 52/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4069 - accuracy: 0.8061 - val_loss: 0.4511 - val_accuracy: 0.8007
Epoch 53/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4073 - accuracy: 0.8058 - val_loss: 0.4473 - val_accuracy: 0.7997
Epoch 54/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4071 - accuracy: 0.8059 - val_loss: 0.4489 - val_accuracy: 0.7992
Epoch 55/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4075 - accuracy: 0.8059 - val_loss: 0.4465 - val_accuracy: 0.7979
Epoch 56/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4067 - accuracy: 0.8058 - val_loss: 0.4487 - val_accuracy: 0.7987
Epoch 57/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4069 - accuracy: 0.8058 - val_loss: 0.4495 - val_accuracy: 0.7945
Epoch 58/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4063 - accuracy: 0.8052 - val_loss: 0.4472 - val_accuracy: 0.7987
Epoch 59/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4066 - accuracy: 0.8049 - val_loss: 0.4513 - val_accuracy: 0.7989
Epoch 60/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4061 - accuracy: 0.8060 - val_loss: 0.4507 - val_accuracy: 0.8002
Epoch 61/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4062 - accuracy: 0.8058 - val_loss: 0.4531 - val_accuracy: 0.7958
Epoch 62/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4065 - accuracy: 0.8054 - val_loss: 0.4497 - val_accuracy: 0.8012
Epoch 63/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4060 - accuracy: 0.8057 - val_loss: 0.4485 - val_accuracy: 0.7989
Epoch 64/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4060 - accuracy: 0.8059 - val_loss: 0.4526 - val_accuracy: 0.7976
Epoch 65/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4056 - accuracy: 0.8055 - val_loss: 0.4513 - val_accuracy: 0.7992
Epoch 66/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4060 - accuracy: 0.8064 - val_loss: 0.4539 - val_accuracy: 0.7958
Epoch 67/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4055 - accuracy: 0.8072 - val_loss: 0.4497 - val_accuracy: 0.7987
Epoch 68/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4054 - accuracy: 0.8059 - val_loss: 0.4568 - val_accuracy: 0.7932
Epoch 69/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4055 - accuracy: 0.8074 - val_loss: 0.4551 - val_accuracy: 0.7932
Epoch 70/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4052 - accuracy: 0.8066 - val_loss: 0.4583 - val_accuracy: 0.7961
Epoch 71/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4053 - accuracy: 0.8066 - val_loss: 0.4522 - val_accuracy: 0.7974
Epoch 72/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4054 - accuracy: 0.8069 - val_loss: 0.4545 - val_accuracy: 0.7981
Epoch 73/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4053 - accuracy: 0.8073 - val_loss: 0.4551 - val_accuracy: 0.8023
Epoch 74/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4049 - accuracy: 0.8076 - val_loss: 0.4537 - val_accuracy: 0.7994
Epoch 75/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4043 - accuracy: 0.8069 - val_loss: 0.4543 - val_accuracy: 0.7968
Epoch 76/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4047 - accuracy: 0.8076 - val_loss: 0.4573 - val_accuracy: 0.8033
Epoch 77/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4046 - accuracy: 0.8073 - val_loss: 0.4573 - val_accuracy: 0.7945
Epoch 78/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4049 - accuracy: 0.8061 - val_loss: 0.4552 - val_accuracy: 0.8002
Epoch 79/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4043 - accuracy: 0.8076 - val_loss: 0.4544 - val_accuracy: 0.7942
Epoch 80/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4040 - accuracy: 0.8062 - val_loss: 0.4565 - val_accuracy: 0.7950
Epoch 81/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4044 - accuracy: 0.8077 - val_loss: 0.4563 - val_accuracy: 0.7987
Epoch 82/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4047 - accuracy: 0.8077 - val_loss: 0.4540 - val_accuracy: 0.7994
Epoch 83/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4045 - accuracy: 0.8070 - val_loss: 0.4556 - val_accuracy: 0.7963
Epoch 84/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4044 - accuracy: 0.8075 - val_loss: 0.4543 - val_accuracy: 0.8002
Epoch 85/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4039 - accuracy: 0.8072 - val_loss: 0.4554 - val_accuracy: 0.7999
Epoch 86/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4039 - accuracy: 0.8074 - val_loss: 0.4542 - val_accuracy: 0.7971
Epoch 87/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4042 - accuracy: 0.8076 - val_loss: 0.4533 - val_accuracy: 0.7963
Epoch 88/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4039 - accuracy: 0.8070 - val_loss: 0.4547 - val_accuracy: 0.8010
Epoch 89/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4035 - accuracy: 0.8073 - val_loss: 0.4539 - val_accuracy: 0.7997
Epoch 90/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4039 - accuracy: 0.8081 - val_loss: 0.4539 - val_accuracy: 0.7953
Epoch 91/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4034 - accuracy: 0.8077 - val_loss: 0.4521 - val_accuracy: 0.8025
Epoch 92/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4040 - accuracy: 0.8067 - val_loss: 0.4569 - val_accuracy: 0.7999
Epoch 93/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4042 - accuracy: 0.8075 - val_loss: 0.4561 - val_accuracy: 0.7976
Epoch 94/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4039 - accuracy: 0.8079 - val_loss: 0.4527 - val_accuracy: 0.7955
Epoch 95/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4039 - accuracy: 0.8067 - val_loss: 0.4553 - val_accuracy: 0.7992
Epoch 96/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4037 - accuracy: 0.8074 - val_loss: 0.4550 - val_accuracy: 0.7989
Epoch 97/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4035 - accuracy: 0.8079 - val_loss: 0.4551 - val_accuracy: 0.7981
Epoch 98/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4034 - accuracy: 0.8076 - val_loss: 0.4547 - val_accuracy: 0.7981
Epoch 99/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4034 - accuracy: 0.8074 - val_loss: 0.4549 - val_accuracy: 0.7984
Epoch 100/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4031 - accuracy: 0.8082 - val_loss: 0.4553 - val_accuracy: 0.7968

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose = 2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4680 - accuracy: 0.7894 - 341ms/epoch - 1ms/step
Loss: 0.4679853320121765, Accuracy: 0.7893877625465393

In [18]:
# Export our model to HDF5 fil
from google.colab import files

nn.save('/content/AlphabetSoupCharity_Optimization_2.h5')
files.download('/content/AlphabetSoupCharity_Optimization_2.h5')